@charset "utf-8";
/* CSS Document */
.ab1{ margin-left:auto; margin-right:auto; text-align:center; display:block;}
.ab2{box-shadow: 5px 3px 4px 0px rgb(72 71 71 / 20%); padding:8px 0 }
.ab3{text-align:center; font-size:40px; padding-top:40px; font-weight:600; font-family:Proxima  }
.ab4{ font-family:Proxima; font-weight:bold; font-size:24px; padding-left:40px;}
.menu-area{background: #fff;}
.search {
  width: 100%;
  position: relative;
  display: flex;
  border:solid 1px #b9b9b7;
  margin-top:50px;
  border-radius:25px;
  padding:7px;
  
}

.searchTerm {
  width: 100%;
 border: 1px solid #fff;
 line-height:1;
  
 padding: 4px;
  border-radius: 0px 0 0 0px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  position:relative;
  top:-.5px;
  border: 1px solid #fff!important;
  background: #fff!important;
  text-align: center;
  color: #000;
 
  cursor: pointer;
  font-size: 20px;
}
button {
    
    outline:none !important;  
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 75%;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{padding-top:40px; padding-left:20px; padding-right:20px;}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background:url(../images/signbg.png);
  background-size:100% 100%;
  border-radius: 5px;
  width: 60%;
 
 
  height:400px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #333;
}
.popup .content {
  max-height: 30%;
  
 
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.popup3 {
  margin: 70px auto;
  padding: 20px;
  background:url(../images/loginbg.png);
  background-size:100% 100%;
  border-radius: 5px;
  width: 60%;
 
  
  height:auto;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup3 h2 {
  margin-top: 0;
  color: #333;
  
}
.popup3 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup3 .close:hover {
  color: #333;
}
.popup3 .content {
  max-height: 30%;
  
 
}

@media screen and (max-width: 700px){
  .box3{
    width: 70%;
  }
  .popup3{
    width: 70%;
  }
}

.popup5 {
  margin: 70px auto;
  padding: 20px;
  background:url(../images/verificationbg.png);
  background-size:100% 100%;
  border-radius: 5px;
  width: 60%;
 
  
  height:auto;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup5 h2 {
  margin-top: 0;
  color: #333;
  
}
.popup5 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup5 .close:hover {
  color: #333;
}
.popup5 .content {
  max-height: 30%;
  
 
}

@media screen and (max-width: 700px){
  .box5{
    width: 70%;
  }
  .popup5{
    width: 70%;
  }
}

.popup7 {
  margin: 70px auto;
  padding: 20px;
  background:#fff;
  background-size:100% 100%;
  border-radius: 5px;
  width: 80%;
 
  
  height:auto;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup7 h2 {
  margin-top: 0;
  color: #333;
  
}
.popup7 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup7 .close:hover {
  color: #333;
}
.popup7 .content {
  max-height: 30%;
  
 
}

@media screen and (max-width: 700px){
  .box7{
    width: 70%;
  }
  .popup7{
    width: 70%;
  }
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
	
}
@media only screen and (max-width: 980px) {
	
}

    

