@charset "utf-8";

/* CSS Document */

.ab1{ margin-left:auto; margin-right:auto; text-align:center; display:block;}

.ab2{box-shadow: 5px 3px 4px 0px rgb(72 71 71 / 20%); padding:8px 0 }

.ab3{text-align:center; font-size:40px; padding-top:40px; font-weight:600; font-family:Proxima  }

.ab4{ font-family:Proxima; font-weight:bold; font-size:22px; padding-left:40px;}

.ab4 a{

  color: #000;

}

.ab4 a:hover{

  color: #000;

  text-decoration: none;

}

.ab5{margin-left:40px; margin-right:40px;}

.ab6{ font-family:Proxima; font-weight:bolder; font-size:60px; padding-top:35px; line-height:1.2}

.ab7{border-top:solid 4px #76d6ff; width:30%}

.ab8{ font-family:Proxima; color:#474747; padding-top:20px;}

.ab9{background:#f1f8ff; margin-top:70px;}

.ab10{font-family:Proxima; text-align:center; color:#000082; font-size:33px; padding-top:40px;}

.ab11{margin-left:auto; margin-right:auto; display:block; text-align:center;}

.ab12{text-align:center; font-family:Proxima; color: #474747; font-size:18px; margin-left:70px; margin-right:70px; padding:30px 0;}

.ab13{font-family:Proxima; font-size:33px}

.ab14{color: #474747; font-size:19px;font-family:Proxima; padding-top:10px;}

.ab15{background:#ffac05!important; border:solid 1px #ffac05!important; padding:6px 25px!important;font-size:20px!important;font-family:Proxima!important; margin-right:15px !important; border-radius:4px!important;}

.ab16{background:#ffac05!important; border:solid 1px #ffac05!important; padding:6px 43px!important;font-size:20px!important;font-family:Proxima!important;  display:block !important; margin-left:auto !important; margin-right:auto !important; text-align:center !important; }

.ab17{ background:url(../images/footer.jpg); background-size:100% 100%; padding-top:60px; padding-bottom:30px; }

.ab18{margin-left:70px; margin-right:70px;}

.ab19{font-family:Proxima; font-size:20px; padding-bottom:10px; padding-top:20px;}

.ab20{background:#76d6ff; padding:6px 0; text-align:center;font-family:Proxima;}.ab21{background:#fff!important; border:solid 1px #ffac05!important; padding:6px 25px!important;font-size:20px!important;font-family:Proxima!important; border-radius:4px!important;}

.ab22{font-family:Myriad; text-align:center; font-size:50px; color:#03b4ff!important;}

.ab23{font-family:Proxima!important; text-align:center; font-size:14px; color:7d7d7d!important;}

.ab24{font-family:Proxima!important; font-weight:bold; font-size:16px; color:#7d7d7d; margin-bottom:6px;}

.ab25{font-family:Proxima!important; color:#9f9f9f; text-decoration:none; font-size:14px; padding-left:12px;}

.ab26{ background:#ffac05!important; border:solid 1px #ffac05!important; color:#fff!important; float: right!important}

.ab27{font-family:Proxima!important; text-align:center; color:#7d7d7d; font-size:33px;}

.ab28{width:40px!important; margin-top:30px;}.ab29{font-family:Proxima!important; text-align:center; color:#474747; font-weight:bold; font-size:40px; padding-top:40px;}

.ab30{font-family:Proxima!important; text-align:center; color:#474747; font-weight:300; font-size:25px; }

.ab31{border:solid 1px #c9c9c9; border-radius:12px;box-shadow: 1px 3px 3px 1px #e4e4e4; }

.ab32{ background:#ffac05; border-radius:12px 12px 0 0; padding:10px;}

.ab33{ color:#474747;font-family:Proxima!important; font-size:23px; text-align:center; }

.ab34{font-family:Myriad; color:#ffac05; text-align:center; font-size:33px;}

.ab35{font-family:Proxima!important; text-align:center; color:#474747; font-size:12px; margin-top:15px;}

.ab36{border-top:solid 1px #d7d7d7; margin-top:20px; margin-bottom:40px;}

.ab37{font-family:Proxima!important; font-size:16px; margin-bottom:6px;}

.ab38{margin-left:auto!important; margin-right:auto!important; text-align:center!important; display:block!important; background:#fff !important; border:solid 2px #ffac05 !important; color:#ffac05!important;font-family:Myriad!important; border-radius:4px!important; padding:6px 30px !important; margin-top:25px;}

.ab39{ background:#76d5ff; border-radius:12px 12px 0 0; padding:10px;}

.ab40{font-family:Myriad; color:#76d5ff; text-align:center; font-size:33px;}

.ab41{margin-left:auto!important; margin-right:auto!important; text-align:center!important; display:block!important; background:#fff !important; border:solid 2px #76d5ff !important; color:#76d5ff!important;font-family:Myriad!important; border-radius:4px!important; padding:6px 30px !important; margin-top:25px;}

.ab42{ background:#000082; border-radius:12px 12px 0 0; padding:10px;}

.ab43{font-family:Myriad; color:#000082; text-align:center; font-size:33px;}

.ab44{margin-left:auto!important; margin-right:auto!important; text-align:center!important; display:block!important; background:#fff !important; border:solid 2px #000082 !important; color:#000082!important;font-family:Myriad!important; border-radius:4px!important; padding:6px 30px !important; margin-top:25px;}

.ab45{font-family:Myriad; font-size:24px;}

.ab46{font-family:Proxima!important; font-size:18px; color:#888888; margin-top:15px; margin-bottom:60px;}

.ab47{ background:#fff!important; border:solid 1px #e7e7e7!important;box-shadow: 1px 3px 3px 1px #e4e4e4!important; color:#3d3d3d!important;font-family:Proxima!important; font-size:18px!important; width:100%!important; margin-bottom:15px; padding:0 0!important;}

.ab48{ background:#e8f2f7; margin-left:25px; border-radius:8px; padding:30px 20px;}

.ab49{font-family:Proxima!important; color:#74a2ff; font-size:18px;}

.ab50{font-family:Myriad; color:#474747; font-size:23px; margin-top:12px;}

.ab51{font-family:Proxima!important; font-size:23px; }

.ab52{border-top:solid 1px #959595; margin-top:20px; margin-bottom:20px;}

.ab53{font-family:Myriad; font-size:24px;}

.ab54{font-size:15px;font-family:Proxima!important; color:#959595; position:relative; top:12px;}

.ab55{ background:#ffac05!important; border:solid 1px #ffac05!important;font-family:Proxima!important; color:#fff!important; font-weight:bold!important; margin-top:40px; width:100%!important; font-size:24px!important;}

.ab56{background:url(../images/contactusbg.png);background-size:100% 100%;}





.menu_inner { width:auto; margin:auto;}

.menu_inner ul { margin:0; padding:0; list-style-type:none;}

.menu_inner li { display:block;}

.menu_inner a {  font-family:Proxima; font-size:16px; padding-top:4px; padding-bottom:4px; padding-left:0px; padding-right:4px; text-decoration:none;  color:#474747; line-height:1.1; font-weight:500 }

.menu_inner a:hover, .menu_inner .current { color:#474747;text-decoration:none;}





.nav-link  {

  color: #000082!important;

font-family:Proxima!important;

font-size:20px!important;

padding-left:30px!important;

}





.search {

  width: 100%;

  position: relative;

  display: flex;

  border:solid 1px #b9b9b7;

  margin-top:50px;

  border-radius:25px;

  padding:7px;

  

}



.searchTerm {

  width: 100%;

 border: 1px solid #fff;

 line-height:1;

  

 padding: 4px;

  border-radius: 0px 0 0 0px;

  outline: none;

  color: #9DBFAF;

}



.searchTerm:focus{

  color: #00B4CC;

}



.searchButton {

  width: 40px;

  height: 36px;

  position:relative;

  top:-.5px;

  border: 1px solid #fff!important;

  background: #fff!important;

  text-align: center;

  color: #000;

 

  cursor: pointer;

  font-size: 20px;

}

button {

    

    outline:none !important;  

}



/*Resize the wrap to see the search bar change!*/

.wrap{

  width: 75%;

  position: relative;

  top: 0%;

  left: 50%;

  transform: translate(-50%, -50%);

}



@media all and (min-width: 992px) {

	.navbar .nav-item .dropdown-menu{ display: none; }

	.navbar .nav-item:hover .dropdown-menu{ display: block; }

	.navbar .nav-item .dropdown-menu{ margin-top:0; }

	

}

@media only screen and (max-width: 980px) {

	

}

.ab57{ border:solid 1px #cfcfcf!important; width:100% !important; padding:12px 10px !important; margin-bottom:20px;font-family:Proxima!important; font-size:18px;}

.ab58{background:#daedfc; font-size:12px; border-radius:20px; padding:10px; margin-top:40px;}

.ab59{float:right; font-size:10px;}

.ab60{background:#f7f8fa; font-size:12px; border-radius:20px; padding:10px; margin-top:40px;}

.ab61{border-top:solid 3px #e8ecef; margin-top:30px; margin-bottom:30px;}

.ab62{ background:#25476c!important; border:solid 1px #25476c!important; color:#fff!important; border-radius:18px!important; padding:6px 25px !important; float:right; margin-top:8px;}

.da { border:solid 1px #8600e9;}

.da1 {background:#8600e9; color:#fff; padding-left:20px; padding-top:15px; padding-bottom:15px; font-size:22px; font-weight:600}

.da2 { padding:100px; display:block; margin-left:auto; margin-right:auto; font-size:40px; color:#39170E; font-weight:600}

.da4 {border:solid 1px #000; padding-left:none !important;   }

.da3 { border-bottom:solid 1px #000; }

.bl {background-image:url(../images/); background-repeat:no-repeat;}

.bl1 {border:solid 1px #60236f; margin-top:100px; padding:60px;}

.at {background:#BC1C21 !important; border:solid 1px #BC1C21 !important;}

.bl2 {background:#ffac05 !important; border:solid 1px #ffac05!important;}

.bl3 {font-size:30px; color:#3A160A; padding-bottom:20px; display:block; margin-left:auto; margin-right:auto; text-align:center; }

.bl4 {color:#3A160A; padding-top:0px; padding-bottom:20px;}

.bl5 {font-size:15px; color:#3A160A; font-weight:700}

.bxyz {border:solid 1px #60236f !important;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {color:#fff !important}

.av {background:#ffac05 !important; border:solid 1px  #ffac05 !important; }

.av:hover {background:#ffac05 !important; border:solid 1px #ffac05 !important;}

.an {background:#ffac05 !important; border:solid 1px #ffac05 !important}

.an1 {background:#ffac05 !important; border:solid 1px #ffac05 !important}

.ax { display:block; margin-left:auto; margin-right:auto; margin-top:20px;}

.sidebar .nav-item .collapse .collapse-inner {background:#ffac05 !important;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {

    color: #000 !important;

}

.am {color:#ffff !important; font-weight:700 !important;}

.pi {font-size:100px; font-weight:600; color:#220B03; margin-top:40px;}

.pi1 {font-size:40px; font-weight:600; color:#220B03;}

.pi2 {font-size:18px; color:#220B03;}

footer.sticky-footer .copyright {color:#fff !important; font-size:16px !important;}

.sidebar-dark .nav-item .nav-link {color:#000 !important;}



table {

  border: 1px solid #ccc;

  border-collapse: collapse;

  margin: 0;

  padding: 0;

  width: 100%;

  table-layout: fixed;

}



table caption {

  font-size: 1.5em;

  margin: .5em 0 .75em;

}



table tr {

  background-color: #f8f8f8;

  border: 1px solid #ddd;

  padding: .35em;

}



table th,

table td {

  padding: .625em;

  text-align: center;

}



table th {

  font-size: .85em;

  letter-spacing: .1em;

  text-transform: uppercase;

}



@media screen and (max-width: 600px) {

  table {

    border: 0;

  }



  table caption {

    font-size: 1.3em;

  }

  

  table thead {

    border: none;

    clip: rect(0 0 0 0);

    height: 1px;

    margin: -1px;

    overflow: hidden;

    padding: 0;

    position: absolute;

    width: 1px;

  }

  

  table tr {

    border-bottom: 3px solid #ddd;

    display: block;

    margin-bottom: .625em;

  }

  

  table td {

	border-bottom: 1px solid #ddd;

	display: block;

	/* [disabled]font-size: 0.8em; */

	text-align: right;

  }

  

  table td::before {

    /*

    * aria-label has no advantage, it won't be read inside a table

    content: attr(aria-label);

    */

    content: attr(data-label);

    float: left;

    font-weight: bold;

    text-transform: uppercase;

  }

  

  table td:last-child {

    border-bottom: 0;

  }



}

.chat

{

    list-style: none;

    margin: 0;

    padding: 0;

}



.chat li

{

    margin-bottom: 3px;

    padding-bottom: 5px;

    /* border-bottom: 1px dotted #B3A9A9; */

    margin-top: 10px;

    width: 80%;

}





.chat li .chat-body p

{

    margin: 0;

    /* color: #777777; */

}





.chat-care

{

    overflow-y: scroll;

    height: 350px;

}

.chat-care .chat-img

{

    width: 50px;

    height: 50px;

}

.chat-care .img-circle

{

    border-radius: 50%;

}

.chat-care .chat-img

{

    display: inline-block;

}

.chat-care .chat-body

{

    display: inline-block;

    max-width: 80%;

    background-color: #fff;

    border-radius: 12.5px;

    padding: 15px;

}

.chat-care .chat-body strong

{

  color: #fff;

}



.chat-care .admin

{

    text-align: right ;

    float: right;

}

.chat-care .admin p

{

    text-align: left ;

}

.chat-care .agent

{

    text-align: left ;

    float: left;

}

.chat-care .left

{

    float: left;

}

.chat-care .right

{

    float: right;

}



.clearfix {

  clear: both;

}









::-webkit-scrollbar-track

{

    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

    background-color: #fff;

}



::-webkit-scrollbar

{

    width: 12px;

    background-color: #fff;

}



::-webkit-scrollbar-thumb

{

    box-shadow: inset 0 0 6px rgba(0,0,0,.3);

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

    background-color: #fff;

}